

:root{
    --nav-color:#FFFFFF;
    --background-body-color:#F5F5F5;
    --card-button-background-color:#243B93;
    --card-button-active-color:#EF075B;
    --card-star-active-color:#FFF500;
    --card-active-color:#2CBDEB;
}

body {
        font-family:'PT Sans';
        background-color: var(--background-body-color);
}

ul {
    list-style: none;
}
.header{
    background-color:#243B93;
    max-width: 1920px;
    height: 65px;
    display: flex;
    justify-content: space-around;
    padding: 0px 12%;
    padding-top: 7px;
    box-sizing: border-box;
    position: sticky;
    top:0px;
    z-index: 5;
}

.nav-menu{
    list-style-type: none;
    font-size: 16px;
    font-weight: 700;
    color: var(--nav-color);
    display:flex;
    width: 55%;
    justify-content: space-between;
    text-align: center;
    box-sizing: border-box;
    align-items: center;
}
.lang-symbol{
    padding-bottom: 15px;
}

.rent-house{
    position: sticky;
    top:65px;
    height: 85px;
    z-index: 4;
    background-color: #BFF0FF;
    max-width: 1920px;
    font-size: 36px;
    font-style:italic;
    padding-left: 15%;
    padding-top: 18px;
    box-sizing: border-box;
}

.place-choosing{
    height: 57px;
    background-color: #FFFFFF;
    max-width: 70%;
    font-size: 28px;
    text-align: center;
    margin-top: 25px;
    margin-left: 15%;
    padding-top: 10px;
    box-sizing: border-box;
    position: relative;
    position: sticky;
}

.place-choosing>:first-child{
    align-items: flex-start;
}

.choosing-arrow{
    position: absolute;
    top: 16px;
    right: 16px;
}

.card{
    height: 300px;
    background: linear-gradient(to right, #ADCBD4, #00AEE5);
    display: flex;
    position: relative;
    margin-bottom: 42px;
}
.cards{
    max-width: 85%;
    margin-top: 30px;
    padding-left: 15%;
    box-sizing: border-box;
    list-style: none;
}

.card-image{
    width: 447px;
    position: absolute;
    top: 33px;
    left: 52px;
}

.card-button{
    width: 210px;
    height: 46px;
    border-radius: 30px;
    background-color: var(--card-button-background-color);
    position: absolute;
    bottom: 11px;
    right: -33px;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 8px;
}

.card-button-text{
    color:#FFFFFF;
}

.card-star{
    position: absolute;
    top: 6px;
    right: 10px;
}

.card:hover .star-color-active
{
    fill:var(--card-star-active-color);
}

.card:hover .card-button{
    background-color: var(--card-button-active-color);
}

.card:hover{
    background: var(--card-active-color);
    box-shadow: 0px 0px 30px 10px var(--card-active-color);
}

.card-header{
    position: absolute;
    top: 14px;
    left: 529px;
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
    color: #353C57;
}

.card-underline{
    position: absolute;
    top: 56px;
    left: 529px;
    right: 59px;
    max-width: 60%;
    padding-right: 58px;
    border-top: 3px solid #FFFFFF;
}

.card-content{
    position: absolute;
    top: 73px;
    left: 529px;
    right: 59px;
    height: 205px;
    max-width: 56%;
    background-color: #EDFBFF;
    padding-right: 58px;
    overflow: auto;
}

.up-button{
    position: fixed;
    right: 230px;
    bottom: 55px;
}

:root{
    --personal-card-text-color:#353C57;
    --personal-card-button-color1:#243B93;
    --personal-card-button-color2:#EF075B;
}

.cabinet-header{
    background: linear-gradient(to right, #FFE601, #55D6FF );
    height: 85px;
    font-size: 44px;
    font-style: italic;
    font-weight: 400;
    padding: 15px 0px 15px 15%;
    margin-bottom: 36px;
    box-sizing: border-box;
    color: #243B93;
}

.personal-card{
    width: 68%;
    height: 498px;
    background: linear-gradient(to bottom, #859EFF, rgba(105, 255, 210, 0.5));
    margin: auto;
    position: relative;
}

.personal-content{
    font-size: 36px;
    font-weight: 700;
    font-style: italic;
    color: var(--personal-card-text-color);
    height: 80px;
    padding: 50px 0px 0px 531px;
}

.text-regular{
    font-weight: 400;
}

.personal-card-line{
    max-width: 712px;
    border-top: 3px solid #FFFFFF;
    margin: 20px 0px 20px 0px;
}

.photo-icon{
    position: absolute;
    left: 167px;
    top: 77px;
    height: 184px;
    width: 196px;
}

.button{
    position: absolute;
    left: 167px;
    top: 77px;
    height: 50px;
    width: 250px;
    border-radius: 30px;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 8px;
    box-sizing: border-box;
    }

.avatar{
    background-color: var(--personal-card-button-color1);
    left: 148px;
    top: 296px;
}

.setting{
    background-color: var(--personal-card-button-color2);
    left: 148px;
    top: 372px;
}

.exit {
    position: absolute;
    background-color: var(--personal-card-button-color1);
    top: 515px;
    left: 570px;
    width: 174px;
}

.contacts-header {
    background: linear-gradient(to right, #54D6FF, #FFE600);
    height: 85px;
    font-size: 44px;
    font-style: italic;
    font-weight: 400;
    padding: 15px 0px 15px 15%;
    margin-top: 125px;
    margin-bottom: 36px;
    box-sizing: border-box;
    color: #243B93;
}

.contacts{
    position: relative;
    width: 68%;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    margin-left: 15%;
    padding-left: 0px;
    box-sizing: border-box;
}

.contact-underline{
    margin: 10px 0px;
    border-top: 3px solid #202846;
}

.contact-phone{
    position: absolute;
    left: 0px;
    top: 0px;
    margin-bottom: 30px;
    width: max-content;
}

.contact-adress{
    position: absolute;
    left: 0px;
    top: 130px;
    width: max-content;
}

.contact-email{
    position: absolute;
    left: 35%;
    top: 0px;
    width: max-content;
}

.map{
    position: absolute;
    right: 0%;
    top: 0px;
    border: 3px solid #243B93;
    border-radius: 3px solid #243B93;
    }

footer{
    background-color: #243B93;
    height: 65px;
    font-size: 16px;
    font-weight: 700;
    padding: 25px 0px 25px 15%;
    margin-top: 330px;
    box-sizing: border-box;
    color: #FFFFFF;
}
