:root{
    --color-header-background--black:#212529;
    --color-header-text-white:#FFFFFF;
    --color-body-background-black:#E5E5E5;
    --color-body-cards-black:#292B2E;
    --color-footer-background-black:#1C1C1C;
    --color-footer-text-black:#7B7B7B;
    --color-footer-text-gray:#D4D4D4;
    --color-footer-text-white:#D4D4D4;
    --color-main-text-gray:#D4D4D4;
    --color-main-text-white:#FFFFFF;
    --color-icon-background-black:#383E45;
    --color-body-text-black:#212529;
    --color-body-aboute-button-black:rgba(255, 255, 255, 0.08);
    --color-orange:#FFB742;
    --color-card-gradient1:rgba(255, 183, 66, 1);
    --color-card-gradient2:rgba(255, 123, 66, 0.76);
    --color-main-icon-background:rgba(255, 183, 66, 0.5);
    --color-footer-text-header: #F5FBF2;
    --main-font: "Poppins", sans-serif;
    --font-header: "Roboto", sans-serif;
    --font-footer: "Work Sans", sans-serif;
}
body{
    font-family: var(--font);
    background-color: var(--color-header-background--black);
    max-width: 1500px;
}

.link{
    text-decoration: none;
}

.nav-item{
    text-decoration: none;
    text-decoration-color: none;
    color: var(--color-header-text-white);
}

a.link:hover {
    color: var(--color-orange)
}

header{
    max-height: 100px;;
}

.header{
    display:flex;
    justify-content: space-between;
    margin: 15px 50px;
    height: 66px;
    max-width: 100%;
}

.nav-menu{
    display: flex;
    justify-content: space-around;
    width: 430px;
    font-size: 18px;
    color:var(--color-header-text-white)
}
/* .nav-menu:hover{
    color:var(--color-orange);
} */

ul {
    list-style: none;
    padding: 0px;
}

.header-button{
    width: 121px;
}

.button {
    background-color: var(--color-orange);
    height: 54px;
    border-radius: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    color: var(--color-body-text-black);
}

h2{
    color: var(--color-main-text-white);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0px;
}

h2>:first-child{
    color: var(--color-orange);

}

h1{
    font-size: 48px;
    text-align: center;
    color: var(--color-main-text-white);
    margin-top: 5px;
}

h3{
    color: var(--color-main-text-white);
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 135px;
    margin-top: 25px;
}

.cards{
    display: flex;
    justify-content: space-around;
    margin: 20px 70px 220px 70px;
}

.card{
    display: flex;
    width: 32%;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: var(--color-body-cards-black);
    padding: 30px 25px;
    box-sizing: border-box;
    align-items: center;
    border-radius: 10px;
}

.card:hover,
.card>.card-content>div:first-child:hover,
.card>.card-content>div:last-child:hover{
    background: linear-gradient(to right,var(--color-card-gradient1), var(--color-card-gradient2));
    color: var(--color-body-text-black);
}


.card-content>:first-child{
    color:var(--color-orange);
    font-size: 32px;
    text-align: center;
}

.card-content>:last-child{
    color:var(--color-main-text-white);
    font-size: 16px;
}

.about-card{
    display: flex;
}

.about-card>:first-child{
    /* width: 620px; */
    max-height: 597px;
    padding-top: 10px;
    margin-right: 70px;
    background-size: cover;
    width: 100%;
}

.aboute-content{
    display: block;
    justify-content: flex-start;
    margin-right: 50px;
}

.content-button{
    background-color: var(--color-body-aboute-button-black);
    color: var(--color-orange);
    font-size: 20px;
    font-weight: 600;
    width: 160px;
    height: 42px;
    margin: 0px;
}

.aboute-header,
.skills-header,
.mywork-header,
.testimonials-header{
    color: var(--color-main-text-white);
    font-family:var(--font-header) ;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.aboute-text,
.skills-text{
    color: var(--color-main-text-gray);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 55px;
    line-height: 200%;
}

.aboute-button,
.skills-button{
    width: 145px;
}

.skills{
    margin-left: 50px;
    display: flex;
    flex-direction: row;
}
.skills-header{
    max-width: 80%;
}

.skills-text{
    max-width: 72%;
}

.skill-table {
    display: flex;
    margin: 0px;
}

.skill-cell{
    background-color: var(--color-icon-background-black);
    border-radius: 10px;
    height: 80px;
    width: 80px;
    box-sizing: border-box;
    text-align: center;
    padding: 3%;
    margin: 8px;
}
.work-button,
.testimonials-button{
    text-align: center;
    border-radius: 50px;
    color: var(--color-orange);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    display:flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-body-aboute-button-black);
    width: 160px;
    height: 42px;
    margin: 0 45%;
    margin-top: 100px;
}

.mywork-header,
.testimonials-header{
    font-family: var(--font-header);
    text-align: center;
}

.mywork-filter{
    display: flex;
    max-width: 50%;
    justify-content: space-around;
    margin: 5px 25%;
    color: var(--color-header-text-white);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 600;
}

.works-filter-item{
    height: 40px;
    width: fit-content;
    padding: 10px 5px;
    box-sizing: border-box;
}

.works-filter-item:hover{
    background-color: var(--color-orange);
    color:var(--color-body-text-black)
}

.gallery{
    display: block;
    flex-direction: column;
    width: 390px;
    padding: 3% 1%;
}

.gallery>:first-child{
    margin: 15px;
}

.gallery>:last-child {
        margin: 15px;
}

.works{
    display: flex;
    justify-content: space-evenly;
}

.feedbacks{
    margin-top: 90px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 120px;
}

footer{
    background-color: var(--color-footer-background-black);
    display: flex;
    justify-content: space-around;
}

.footer-menu-first-column{
    max-width: 250px;
}

.footer-menu-first-column>:first-child{
    font-family: var(--main-font);
    font-size: 32px;
    font-weight: 700;
    color:var(--color-orange);
    margin-bottom: 20px;
}

.footer-menu-first-column>:last-child {
    font-family: var(--font-footer);
    font-size: 16px;
    font-weight: 600;
    color: var(--color-footer-text-gray);
    line-height: 2;
}

.footer-menu-second-column,
.footer-menu-third-column,
.footer-menu-fourth-column{
    color: var(--color-footer-text-black);
    font-family: var(--font-footer);
    font-size: 18px;
    font-weight: 500;
}

.footer-menu-item{
    color: var(--color-footer-text-black);
}

.column-header{
    font-size: 21.59px;
    font-weight: 700;
    color:var(--color-footer-text-header);
    margin-bottom: 20px;
}

.footer-menu-second-column>li,
.footer-menu-third-column>li{
    margin-bottom:  20px;
}

.footer-menu-fourth-column{
    max-width: 320px;
}

.footer-menu-fourth-column>:last-child{
    line-height: 2;
}